/* All Button Style */
.button{
    padding: 5px;
    border: 2px solid darkorchid;
}
.button:hover{
    background-color: gray;
    color: white;
}

/* Tabble style */
.table-pricing{
    font-weight: bold;
    height: 0px;
   }
table {
    border-collapse: collapse;
    width: 60%;
}
td {
    padding: 0px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
.deliveryRow{
    border-bottom: 2px solid gray;
}
.hr{
    border-bottom: none;
}

/* Discount Style */
.apply{
    background-color: tomato;
}
.apply:hover{
    background-color: aqua;
}